#ext_menu-0 .navbar-toggler {
  color: #000;
}
#header4-4 H1 {
  text-align: left;
}
#header4-4 .btn {
  font-size: 60px;
}
#ext_menu-5 .navbar-toggler {
  color: #000;
}
#content4-6 P {
  font-size: 17px;
}
#ext_menu-b .navbar-toggler {
  color: #000;
}
